* {
  font-family: "Poppins", sans-serif !important;
}
body {
  background-color: aliceblue !important;
}
.add-btn {
  background: #631aeb !important;
  background: linear-gradient(
    90deg,
    rgba(99, 26, 235, 1) 0%,
    rgba(162, 136, 209, 1) 100%
  ) !important;
}
